<div class="title">Your Product Reviews</div>

<% @reviews.each do |review| %>

<div class="review-header">
  <%= review.created_at %><%= @product.name %> by <%= @product.brand.name %><br>
  <%= review.title %>
</div>

<div class="review-content">
  <%= review.body %>

<%= link_to "Edit Review", edit_review_path(review.id) %>
  <% end %>
</div>


<div class="footer-links">
  <%= link_to "Write a New Review", new_product_review_path(@product) %> |
  <%= link_to "Find a Product To Review", products_path %> |
  <%= link_to 'Back', root_path %>
</div>
