<div class="title">Your Product Reviews</div>

<% @reviews.each do |review| %>

<div class="review-header">
  <%= review.created_at.strftime("%A, %d %b %Y at %l:%M %p") %><br>
  <%= @product.name %> by <%= @product.brand.name %><br></div>
<div class="review-title"><%= review.title %>
</div>

<div class="review-content">
  <%= review.body %>
</div>

<div class="comments">
</div>

<br>

<div class="review-links">
<%= link_to "Edit Review", edit_review_path(@review.id) %>

<div id="load-comments">
  <a href="/reviews/<%=review.id%>" class="load-comments">Show all comments</a>
</div>

  <div id="new-comment">
      <%= form_for(@comment, :url => review_comments_path(@review)) do |f|  %>
      <%= f.text_area :content %>
       <p><%= f.submit %></h3></p>
      <% end %>
    </div>

      <% end %>
</div>
