<% @products.each do |product| %>
<div class="product-header">
  <a href="/products/<%= product.id%>"><%= product.name %></a> by
  <a href="/brands/<%= product.brand.id%>"><%= product.brand.name%></a>
  </div>
<div class="product-description">
  <%= product.description %> <br>
    <a href="/products/<%= product.id %>/reviews">View All Reviews</a> |
    <a href="/products/<%= product.id %>/reviews/new">Write a Review</a>
    </div>
  <br>
<% end %>
