<div class="product-header">
<%= @product.name %> from <%= @product.brand.name %>
</div>

<div class="product-description">
<b>  <%= @product.description %></b><br>
  <p><%= @product.ingredient_list %></p><br>
    <a href="/products/<%= @product.id %>/reviews">View All Reviews</a> |
    <a href="/products/<%= @product.id %>/reviews/new">Write a Review</a>
  </div
