
<div class="title">Write a Review for <%= @product.brand.name %>'s <br><i><%= @product.name %></i></div>
<div class="review_form">

  <%= form_for @review do |f| %>

    <%= f.label :title %>:
    <%= f.text_field :title %><br>

    <%= f.label :body %>:
    <%= f.text_area :body %><br>

    <%= f.submit %>
  <% end %>
</div>
