<div class="container">
  <h2>Your Reviews</h2>
    <% @reviews.each do |review| %>
  <h3><%= review.title %> by <%= review.user.name %><br></h3>
</div>
<div><%= review.id %>
  <a href="#" data-id="<%= review.id %>" class="review-details">View Full Review</a>
</div>
<% end %><br>
<div class="footer-links">
  <%= link_to "Write a New Review", products_path %>
  <%= link_to 'Back', reviews_path %>
