<div class="review-header">
      Reviews for <%= @product.name %> by <%= @product.brand.name %><br>
    <% @product.reviews.each do |review| %>
  <%= review.title %>
  <br> by <%= review.user.email %>

  </div>

<div class="review-preview"><%= review.body %>

<%= link_to "View Full Review", review_path(review.id)%> |
  <a class="load-comments" href="/reviews/<%=review.id%>/comments">Comments</a>
<% end %>
  </div>

<br><br>
  <div class="review-new">
    <%= link_to "Write a New Review", new_product_review_path(@product.id) %>
  </div>

<div class="footer-links">
  <%= link_to "Explore Products", products_path %> |
  <%= link_to 'Back', root_path %>
</div>
