<div class="title"><%= @product.name %> by <%= @product.brand.name %></div>
<% @product.reviews.each do |review| %>
  <div class="review-header">
    <%= review.title %>
  </div>
  <div class="review-content">
    <p><a href="/reviews/<%=review.id%>">"<%= review.body[0...50] %>..."</a> <br>by <i><%= review.user.email %></i></p>
</div>

<% if review.comments.present? %>

<div id="load-comments">
  <br><a href="/reviews/<%=review.id%>" class="load-comments">Show all comments</a>
  <div class="review-comments-<%=review.id%>">
    <ol>
    </ol>
  </div>
</div>
<% else %>
<a href="/reviews/<%=review.id%>">Add a New Comment</a>
<% end %>
<% end %>

<div class="footer-links">
    <%= link_to "Write a New Review", new_product_review_path(@product.id) %>
</div>
<div class="footer-links">
  <% if Product.last %>
  <%= link_to "Browse More Products", products_path, class: 'all-products' %>
  <% else %>
  <%= link_to "Next Product", product_reviews_path((@product.id)+1)%>
  <% end %>
</div>
