<div class="title"><%= @product.name %> by <%= @product.brand.name %></div>
<% @product.reviews.each do |review| %>
  <div class="review-header">
    <%= review.title %>
  by <%= review.user.email %>
  </div>
  <div class="review-content">
    <p><%= review.body[0...50] %></p>
</div>
    <a class="load-comments" href="/reviews/<%=review.id%>/comments">Comments</a>
    <div class="comments">
    </div>
  <% end %>
<br>



<div class="footer-links">
    <%= link_to "Write a New Review", new_product_review_path(@product.id) %>
</div>
<div class="footer-links">
  <% if Product.last %>
  <%= link_to "Browse More Products", products_path, class: 'all-products' %>
  <% else %>
  <%= link_to "Next Product", product_reviews_path((@product.id)+1)%>
  <% end %>
</div>
