<p id="notice"><%= notice %></p>

<div class="review-container">
  <div class="review-header">
    <div class="title"><%= @review.title %></div>
      written by <%= @review.user.email %>
</div>
  <div class="review-body">
      <p><%= @review.body %></p>
  </div>

  <div class="review-comments-<%=@review.id%>">
    <ol>
    </ol>
  </div>

<br>
  <a class="load-comments" href="/reviews/<%=@review.id%>">Show all comments</a>

      <%= form_for(@comment, :url => review_comments_path(@review)) do |f|  %>
      <%= f.text_area :content %>

      <p><%= f.submit %></h3></p>
      <% end %>

<% if current_user.id = @review.user_id %>
<%= link_to 'Edit Review', edit_review_path(@review) %>
<% else %>
<% end %> |
<%= link_to 'Back', reviews_path %>
</div>
