<p id="notice"><%= notice %></p>

<div class="review-container">
  <div class="review-header">
    <div class="title"><%= @review.title %></div>
      written by <%= @review.user.email %>
</div>
  <div class="review-body">
      <p><%= @review.body %></p>
  </div>
  <div class="comments-list">
    <ol>
    </ol>
  </div>

  <div class="review-links">
  <%= link_to "Edit Review", edit_review_path(@review.id) %>


  <div id="load-comments">
    <br><a href="/reviews/<%=@review.id%>" class="load-comments">Show all comments</a>
  </div>

      <%= form_for(@comment, :url => review_comments_path(@review)) do |f|  %>
      <%= f.text_area :content %>

      <p><%= f.submit %></h3></p>
      <% end %>

<% if current_user.id = @review.user_id %>
<%= link_to 'Edit Review', edit_review_path(@review) %>
<% else %>
<% end %> |
<%= link_to 'Back', reviews_path %>
</div>
