<p id="notice"><%= notice %></p>

<div class="review-container">
  <div class="review-header">
  <h1><%= @review.title %></h1>
  <h4>written by <%= @review.user.email %></h4>
</div>
  <p>
    <div class="review-body">
    <%= @review.body %></p>
  </div>
</div>

<div class="comments">
  <%= render 'comments/comments' %>
</div>

<%= form_for(@comment, :url => review_comments_path(@review)) do |f|  %>
  <%= f.text_area :content %>

  <p><%= f.submit %></p>
<% end %>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
