<div class="topnav" id="myTopnav">
   <nav class="topnav-items">
    <% if user_signed_in? %>

        <div class="nav-link"> <%= link_to 'Log Out', destroy_user_session_path, method: :delete %></div>

        <div class="nav-link"> <%= link_to "Home", root_path %></div>

        <div class="nav-link"> <%= link_to "Products", products_path, class: 'all_products' %></div>

        <div class="nav-link"> <%= link_to "My Profile", user_path(current_user.id) %></div>

        <% else %>

        <div class="nav-link"> <%= link_to "Sign In With Facebook", user_facebook_omniauth_authorize_path %></div>

        <div class="nav-link"> <%= link_to 'Sign Up', new_user_registration_path %></div>

        <div class="nav-link"> <%= link_to 'Log In', new_user_session_path %></div>

  <% end %>
  </nav>
  <nav class="topnav-items--right">
      <div class="logo"><%= link_to 'Home', root_path %></div>
</nav>
</div>
