
<div class="topnav" id="myTopnav">


  <nav class="topnav-items--logo">
      <div class="logo"><%= link_to 'Home', root_path %></div>
    </nav>

   <nav class="topnav-items">

    <% if user_signed_in? %>


        <div class="nav-link"> <%= link_to 'Log Out', destroy_user_session_path, method: :delete %></div>

        <div class="nav-link"> <%= link_to "Home", root_path %></div>

        <div class="nav-link"> <%= link_to "Products", products_path, class: 'all-products' %></div>

        <div class="nav-link"> <%= link_to "Brands", brands_path, class: 'all-brands' %></div>

        <div class="nav-link"> <%= link_to "My Profile", user_path(current_user.id), class: 'user-profile' %></div>

        <% else %>

        <div class="nav-link"> <%= link_to "Sign In With Facebook", user_facebook_omniauth_authorize_path %></div>

        <div class="nav-link"> <%= link_to 'Sign Up', new_user_registration_path %></div>

        <div class="nav-link"> <%= link_to 'Log In', new_user_session_path %></div>

  <% end %>
  </nav>

</div>

<div class="nav-blurb">
    <p>The current time is <%= Time.now.strftime("%I:%M%p") %> on <%= Time.now.strftime("%A, %B %d, %Y")%>.<br>
      <b>You are signed in as <%= current_user.email %></b>
    </p>
</div>
