<div class="topnav" id="myTopnav">
   <nav class="topnav-items">
    <% if user_signed_in? %>

        <div class="nav-link"> <%= link_to 'Log Out', destroy_user_session_path, method: :delete %></div>

        <div class="nav-link"> <%= link_to "Home", root_path %></div>

        <div class="nav-link"> <%= link_to "Products", products_path, class: 'all-products' %></div>

        <div class="nav-link"> <%= link_to "Brands", brands_path, class: 'all-brands' %></div>

        <div class="nav-link"> <%= link_to "My Profile", user_path(current_user.id), class: 'user-profile' %></div>

        <% else %>

        <div class="nav-link"> <%= link_to "Sign In With Facebook", user_facebook_omniauth_authorize_path %></div>

        <div class="nav-link"> <%= link_to 'Sign Up', new_user_registration_path %></div>

        <div class="nav-link"> <%= link_to 'Log In', new_user_session_path %></div>

  <% end %>
  </nav>
  <nav class="topnav-items--right">
      <div class="logo"><%= link_to 'Home', root_path %></div>
</nav>
</div>

<div class="flex-body">
  <div class="flex-media">
  <div class="flex-column">
    <a class="twitter-timeline" href="https://twitter.com/temptalia?ref_src=twsrc%5Etfw" data-height="500">Tweets by temptalia</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
    <div class="flex-column">
      <iframe src="https://www.youtube.com/embed/videoseries?list=PL855S-vac7veZyrHtHb88S8oEbJGYaSEZ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

  <div class="flex-column--right">
